h1 {
    color: rgb(103, 243, 224);
    margin-left: 30px;
    font-family:sans-serif;
}


*{
    border: hidden;
    }

.header{
    background-color: rgb(106, 216, 161);
    display:flex;
    justify-content: space-between;
   }

 .site-description{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
   

   .grid {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-evenly;
    
   }

   .p, h3 {
    text-align: center;
    font-family: sans-serif;
   }

   .origami {
       
       background-color: rgb(0, 160, 253);
       width: 300px;
       font-family:sans-serif;
       font-style: oblique;
   }

   .menu {
       display: flex;
       justify-content: space-between;
       background-color: rgb(0, 0, 0);
       font-size: 20px;
       font-family: sans-serif;
       font-weight: 400;
       color: rgb(30, 15, 240);
   }

   .footer {
    display: flex;
    justify-content: space-evenly;
}

.menu a{
    margin-right: 20px;
}

.menu a{
    margin-left: 5px;
}

a:link{
    color: rgb(255, 255, 255);
}

a:visited{
    color: aliceblue;
}

.origami:hover{
    transform: scale(1.1);
}

.footer:hover{
    transform: scale(1.1);
}
   
    
   body {
       background-color: rgb(233, 233, 233);
   }